<?xml version="1.0"?>
<robot name="indomitus_s1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="can_interface" default="can0"/>

  <xacro:include filename="$(find rover_description)/urdf/rover_s1.urdf.xacro"/>

  <xacro:include filename="$(find rover_description)/urdf/ros2_control_real.urdf.xacro"/>
</robot>