<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="end_effector" default="jaw"/>
  <xacro:arg name="sim" default="false"/>
  <xacro:arg name="camera" default="true"/>

  <xacro:macro name="indomitus_arm" params="parent_link *origin">

    <material name="light_grey">
      <color rgba="0.7 0.7 0.7 1.0"/>
    </material>

    <xacro:macro name="dummy_inertia" params="mass">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>
    </xacro:macro>

    <xacro:macro name="box_geometry" params="size xyz">
      <visual>
        <origin xyz="${xyz}" rpy="0 0 0"/>
        <geometry><box size="${size}"/></geometry>
        <material name="light_grey"/>
      </visual>
      <collision>
        <origin xyz="${xyz}" rpy="0 0 0"/>
        <geometry><box size="${size}"/></geometry>
      </collision>
    </xacro:macro>

    <xacro:macro name="cylinder_geometry" params="radius length xyz">
      <visual>
        <origin xyz="${xyz}" rpy="0 0 0"/>
        <geometry><cylinder radius="${radius}" length="${length}"/></geometry>
        <material name="light_grey"/>
      </visual>
      <collision>
        <origin xyz="${xyz}" rpy="0 0 0"/>
        <geometry><cylinder radius="${radius}" length="${length}"/></geometry>
      </collision>
    </xacro:macro>

    <joint name="arm_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}"/>
      <child link="arm_mount_link"/>
    </joint>

    <link name="arm_mount_link">
      <xacro:cylinder_geometry radius="0.075" length="0.018" xyz="0 0 0.009"/>
      <xacro:dummy_inertia mass="1.0"/>
    </link>

    <joint name="arm_mount_base_joint" type="revolute">
      <parent link="arm_mount_link"/>
      <child link="arm_base_link"/>
      <origin xyz="0 0 0.018" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="${-pi}" upper="${pi}" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="arm_base_link">
      <xacro:cylinder_geometry radius="0.05" length="0.0945" xyz="0 0 0.047"/>
      <xacro:dummy_inertia mass="2.0"/>
    </link>

    <joint name="arm_base_shoulder_joint" type="revolute">
      <parent link="arm_base_link"/>
      <child link="arm_shoulder_link"/>
      <origin xyz="0 0.013 0.0945" rpy="0 0 ${-pi/2}"/>
      <axis xyz="1 0 0"/>
      <limit lower="${-pi/2}" upper="${pi}" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="arm_shoulder_link">
      <xacro:box_geometry size="0.06 0.06 0.5" xyz="-0.0285 0 0.25"/>
      <xacro:dummy_inertia mass="1.5"/>
    </link>

    <joint name="arm_shoulder_forearm_joint" type="revolute">
      <parent link="arm_shoulder_link"/>
      <child link="arm_forearm_link"/>
      <origin xyz="-0.057 0 0.5" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="${-pi/2}" upper="${pi/2}" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="arm_forearm_link">
      <xacro:box_geometry size="0.05 0.05 0.4" xyz="0 0 0.2"/>
      <xacro:dummy_inertia mass="1.0"/>
    </link>

    <joint name="arm_forearm_wrist_1_joint" type="revolute">
      <parent link="arm_forearm_link"/>
      <child link="arm_wrist_1_link"/>
      <origin xyz="0.002175 0 0.4" rpy="${pi} ${pi} 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="${-pi/2}" upper="${pi/2}" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="arm_wrist_1_link">
      <xacro:box_geometry size="0.1 0.06 0.06" xyz="-0.034 0 0.018"/>
      <xacro:dummy_inertia mass="0.5"/>
    </link>

    <joint name="arm_wrist_1_wrist_2_joint" type="revolute">
      <parent link="arm_wrist_1_link"/>
      <child link="arm_wrist_2_link"/>
      <origin xyz="-0.067825 0 0.0353" rpy="0 ${pi/2} 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="${-pi}" upper="${pi}" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="arm_wrist_2_link">
      <xacro:box_geometry size="0.1 0.06 0.06" xyz="-0.034 0 0.018"/>
      <xacro:dummy_inertia mass="0.3"/>
    </link>

    <joint name="arm_wrist_2_end_effector_joint" type="revolute">
      <parent link="arm_wrist_2_link"/>
      <child link="arm_end_effector_link"/>
      <origin xyz="-0.067825 0 0.0353" rpy="${-pi/2} 0 ${-pi/2}"/>
      <axis xyz="0 1 0"/>
      <limit lower="${-pi}" upper="${pi}" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="arm_end_effector_link">
      <xacro:if value="${'$(arg end_effector)' == 'jaw'}">
        <xacro:box_geometry size="0.05 0.23 0.06" xyz="0 -0.115 0"/>
      </xacro:if>

      <xacro:if value="${'$(arg end_effector)' == 'other_tool'}">
      </xacro:if>

      <xacro:dummy_inertia mass="0.2"/>
    </link>

    <joint name="arm_tcp_joint" type="fixed">
      <parent link="arm_end_effector_link"/>
      <child link="arm_tcp_link"/>

      <xacro:if value="${'$(arg end_effector)' == 'jaw'}">
        <origin xyz="0 -0.23 0" rpy="0 0 0"/>
      </xacro:if>

      <xacro:if value="${'$(arg end_effector)' != 'jaw'}">
        <origin xyz="0 -0.23 0" rpy="0 0 0"/>
      </xacro:if>
    </joint>

    <link name="arm_tcp_link"/>

    <joint name="arm_camera_joint" type="fixed">
      <parent link="arm_end_effector_link"/>
      <child link="arm_camera_link"/>
      <origin xyz="-0.00110236 -0.0683370 -0.0340064" rpy="${pi} 0 ${-pi/2}"/>
    </joint>

    <link name="arm_camera_link">
      <visual>
        <geometry>
          <box size="0.06 0.06 0.03"/>
        </geometry>
        <material name="camera_blue">
          <color rgba="0.0 0.0 1.0 1.0"/>
        </material>
      </visual>

      <collision>
        <geometry>
          <box size="0.06 0.06 0.03"/>
        </geometry>
      </collision>
    </link>

    <joint name="arm_camera_optical_joint" type="fixed">
      <parent link="arm_camera_link"/>
      <child link="arm_camera_optical_frame"/>
      <origin xyz="0 0 0.03" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="arm_camera_optical_frame"/>

    <ros2_control name="ArmSystem" type="system">
      <hardware>
        <xacro:if value="$(arg sim)">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="$(arg sim)">
          <xacro:if value="$(arg use_fake_hardware)">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:if>
          <xacro:unless value="$(arg use_fake_hardware)">
            <plugin>arm_hardware_interface/ArmCanSystem</plugin>
            <param name="can_interface">can0</param>
          </xacro:unless>
        </xacro:unless>
      </hardware>
      <xacro:macro name="arm_joint_control" params="joint_name">
        <joint name="${joint_name}">
          <command_interface name="position">
            <param name="min">${-pi}</param>
            <param name="max">${pi}</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:arm_joint_control joint_name="arm_mount_base_joint"/>
      <xacro:arm_joint_control joint_name="arm_base_shoulder_joint"/>
      <xacro:arm_joint_control joint_name="arm_shoulder_forearm_joint"/>
      <xacro:arm_joint_control joint_name="arm_forearm_wrist_1_joint"/>
      <xacro:arm_joint_control joint_name="arm_wrist_1_wrist_2_joint"/>
      <xacro:arm_joint_control joint_name="arm_wrist_2_end_effector_joint"/>
    </ros2_control>

    <xacro:if value="$(arg sim)">
      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find arm_sim)/config/ros2_controllers.yaml</parameters>
        </plugin>
      </gazebo>

      <gazebo reference="arm_mount_link">
        <visual>
          <material>
            <ambient>0.7 0.7 0.7 1.0</ambient>
            <diffuse>0.7 0.7 0.7 1.0</diffuse>
            <specular>0.3 0.3 0.3 1.0</specular>
          </material>
        </visual>
      </gazebo>

      <gazebo reference="arm_base_link">
        <visual>
          <material>
            <ambient>0.7 0.7 0.7 1.0</ambient>
            <diffuse>0.7 0.7 0.7 1.0</diffuse>
            <specular>0.3 0.3 0.3 1.0</specular>
          </material>
        </visual>
      </gazebo>

      <gazebo reference="arm_shoulder_link">
        <visual>
          <material>
            <ambient>0.7 0.7 0.7 1.0</ambient>
            <diffuse>0.7 0.7 0.7 1.0</diffuse>
            <specular>0.3 0.3 0.3 1.0</specular>
          </material>
        </visual>
      </gazebo>

      <gazebo reference="arm_forearm_link">
        <visual>
          <material>
            <ambient>0.7 0.7 0.7 1.0</ambient>
            <diffuse>0.7 0.7 0.7 1.0</diffuse>
            <specular>0.3 0.3 0.3 1.0</specular>
          </material>
        </visual>
      </gazebo>

      <gazebo reference="arm_wrist_1_link">
        <visual>
          <material>
            <ambient>0.7 0.7 0.7 1.0</ambient>
            <diffuse>0.7 0.7 0.7 1.0</diffuse>
            <specular>0.3 0.3 0.3 1.0</specular>
          </material>
        </visual>
      </gazebo>

      <gazebo reference="arm_wrist_2_link">
        <visual>
          <material>
            <ambient>0.7 0.7 0.7 1.0</ambient>
            <diffuse>0.7 0.7 0.7 1.0</diffuse>
            <specular>0.3 0.3 0.3 1.0</specular>
          </material>
        </visual>
      </gazebo>

      <gazebo reference="arm_end_effector_link">
        <visual>
          <material>
            <ambient>0.7 0.7 0.7 1.0</ambient>
            <diffuse>0.7 0.7 0.7 1.0</diffuse>
            <specular>0.3 0.3 0.3 1.0</specular>
          </material>
        </visual>
      </gazebo>

      <xacro:if value="$(arg camera)">
      <gazebo reference="arm_camera_link">
        <sensor name="arm_camera" type="camera">
          <pose>0 0 0.03 0 0 0</pose>
          <camera>
            <optical_frame_id>arm_camera_optical_frame</optical_frame_id>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.05</near>
              <far>15</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>true</visualize>
          <topic>arm_camera/image_raw</topic>
        </sensor>
      </gazebo>
      </xacro:if>
    </xacro:if>

  </xacro:macro>
</robot>
