<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/macros/inertia_macros.xacro"/>

  <!-- ===================== TOWERLIGHT ===================== -->
  <!-- Mesh alignment: centers tower_light.stl on the link's own origin -->
  <xacro:property name="towerlight_mesh_align_xyz" value="0.225 0.190 -0.4205"/>
  <!-- Mount position on the main body -->
  <xacro:property name="towerlight_mount_x" value="-0.2415"/>
  <xacro:property name="towerlight_mount_y" value="0.2235"/>
  <xacro:property name="towerlight_mount_z" value="0.3105"/>

  <xacro:macro name="towerlight_accessory" params="suffix y_sign">
    <link name="towerlight_link_${suffix}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.15"/>
        <xacro:box_inertia m="0.15" x="0.070" y="0.070" z="0.375"/>
      </inertial>
      <visual>
        <origin xyz="${towerlight_mesh_align_xyz}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_description/meshes/body/tower_light.stl" scale="1 1 1"/>
        </geometry>
        <material name="beacon_light"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.070 0.070 0.375"/>
        </geometry>
      </collision>
    </link>

    <joint name="towerlight_joint_${suffix}" type="fixed">
      <parent link="main_body_link"/>
      <child link="towerlight_link_${suffix}"/>
      <origin xyz="${towerlight_mount_x} ${towerlight_mount_y * y_sign} ${towerlight_mount_z}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <!-- ===================== STOP BUTTON ===================== -->
  <!-- Mesh alignment: centers stop_button.stl on the link's own origin -->
  <xacro:property name="stop_button_mesh_align_xyz" value="-0.075 -0.215 -0.2300155"/>
  <!-- Mount position on the main body -->
  <xacro:property name="stop_button_mount_x" value="0.0765"/>
  <xacro:property name="stop_button_mount_y" value="0.2265"/>
  <xacro:property name="stop_button_mount_z" value="0.13025"/>

  <xacro:macro name="stop_button_accessory" params="suffix y_sign">
    <link name="stop_button_link_${suffix}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.05"/>
        <xacro:box_inertia m="0.05" x="0.0404" y="0.0404" z="0.0705"/>
      </inertial>
      <visual>
        <origin xyz="${stop_button_mesh_align_xyz}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_description/meshes/body/stop_button.stl" scale="1 1 1"/>
        </geometry>
        <material name="button_red"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.0404 0.0404 0.0705"/>
        </geometry>
      </collision>
    </link>

    <joint name="stop_button_joint_${suffix}" type="fixed">
      <parent link="main_body_link"/>
      <child link="stop_button_link_${suffix}"/>
      <origin xyz="${stop_button_mount_x} ${stop_button_mount_y * y_sign} ${stop_button_mount_z}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

</robot>