SUBSYSTEM=="net", KERNEL=="can*", ACTION=="add", \
    RUN+="/sbin/ip link set $env{INTERFACE} type can bitrate 1000000 restart-ms 100", \
    RUN+="/sbin/ip link set $env{INTERFACE} txqueuelen 8", \
    RUN+="/sbin/ip link set $env{INTERFACE} up"