<?xml version="1.0"?>
<model>
  <name>Mars Yard 2025</name>
  <version>1.0</version>  
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>UCUSpaceRobotics</name>
    <email>indomitus@ucu.edu.ua</email>
  </author>

  <description>
    A 3D environment representing real Mars Yard 2025 map.
  </description>
</model>