<?xml version="1.0"?>

<!-- Parameter defines whether to add simulation of the topics used by the navigational stack -->
<xacro:arg name="use_nav" default="false"/> 

<robot name="indomitus_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/rover.urdf.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/ros2_control_sim.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/lidar_sim.xacro"/>
  <xacro:lidar_sim simulate_scan="${use_nav}"/>

  <gazebo>
    <plugin filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find rover_sim)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>