# Copy this file to the .env in the root of the repository
# To copy the file run next command from the root of the repository: cp ./docker/.env.example ./.env

# ROS2 Settings
TARGET_ROS_DISTRO=humble
ROS_DOMAIN_ID=42

# Base Images
ZED_SDK_VERSION=5.4
CUDA_VERSION=12.8
UBUNTU_VERSION=22.04
L4T_VERSION=36.4
BASE_IMAGE_TAG_DEV=gl-devel
BASE_IMAGE_TAG_PROD=devel

BASE_IMAGE_DEV=stereolabs/zed:${ZED_SDK_VERSION}-${BASE_IMAGE_TAG_DEV}-cuda${CUDA_VERSION}-ubuntu${UBUNTU_VERSION} # Image for the x86-64 architecture
BASE_IMAGE_PROD=stereolabs/zed:${ZED_SDK_VERSION}-${BASE_IMAGE_TAG_PROD}-l4t-r${L4T_VERSION} # Image for the ARM64 architecture